main{
    min-height: 80vh;
}
h1 {
    font-size: 1.8rem;
    padding: 2rem;
  }
   
  h2 {
    font-size: 1.4rem;
    padding: 1rem;
  }
   
  h5 {
    padding: 1rem;
  }
   
  h3 {
    padding: 3rem 0;
  }